@charset 'utf-8';

@use '../abstracts//' as *;

footer {
  // Поверхности | Surfaces
  --clr-bg-footer: var(surface-4);
  --clr-bg-footer-column: #{$neutral-7};

  // Шрифты | Fonts
  --text-size: #{$fs-200};
  --text-weight: #{$regular};
}

footer {
  padding: 1rem;

  font-size: var(--text-size);
  font-weight: var(--text-weight);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  column-gap: 1rem;
}

.footer__column {
  padding: 1rem;
  border: 1px solid var(--brand);
}
