@charset 'utf-8';

@use '../abstracts//' as *;

footer {
  // Поверхности | Surfaces
  --bg-footer: var(--surface-1);
  --bg-footer-column: var(--surface-2);

  // Шрифты | Fonts
  --text-size: var(--fs-200);
  --text-weight: var(--regular);
}

footer {
  --_columns-number: 3;
  --_columns-gap: 1rem;

  font-size: var(--text-size);
  font-weight: var(--text-weight);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  column-gap: var(--_columns-gap);
}

.footer__column {
  padding: 1rem;
}
