@charset 'utf-8';

@use '../abstracts//' as *;

// CSS variables | CSS переменные
header,
.page-sub-header {
  // Высота липкой (sticky) шапки
  --height-sticky-header: clamp(3.75rem, 3.1414vw + 2.2421rem, 4.5rem);

  // Фоновые цвета
  --bg-sticky-header: var(--neutral-8, red);

  // Цвета текста и ссылок
  --header-select-office: var(--accent, red);

  // Стили навигационного меню
  --menu-item-gap: clamp(1.45rem, 6.4921vw + -1.6662rem, 3rem); // width => $md

  --header-nav-text-size: --fs-300;
  --header-nav-text-weight: --semi;

  --header-nav-row-text-color: var(--neutral-0, red);
  --header-nav-col-text-color: var(--neutral-0, red);
  --header-nav-text-color-hover: var(--accent-color, red);
  --header-nav-bg: var(--neutral-7);
  --header-nav-bg-unsup: hsl(0 0% 100% / 0.1); // Будет заблюрено
  --header-nav-blur: blur(0.75rem); // степень блюра

  // Текст
  --text-size: var(--fs-300);

  --fs-header-text: var(--text-size);
  --fw-header-text: var(--regular);

  // Заголовки
  --fs-header-title: var(--text-size);
  --fw-header-title: var(--semi);

  // Иконки
  --header-icon-color: var(--accent-color, red);
  --header-icon-opacity: 0.825;

  --header-icon-size: calc(var(--height-sticky-header) * 0.4);
  --logo-size: calc(var(--header-icon-size) * 2);
  --header-icon-padding: 0.5rem;
}

// header styles
header,
.page-sub-header {
  font-size: var(--fs-header-text);
  font-weight: var(--fw-header-text);

  // Заголовки в шапке
  .header-title {
    font-size: var(--fs-header-title);
    font-weight: var(--fw-header-title);
  }

  // width < 360px (от 0 до 359px)
  @media screen and (width < $xs) {
    --text-size: var(--fs-100);
  }

  // 360px <= width < 576px (от 360px до 575px)
  @media screen and ($xs <= width < $sm) {
    --text-size: var(--fs-200);
  }
}

// Первая линия шапки
header {
  grid-column: full-width;
  position: sticky;
  top: 0;

  background-color: var(--bg-sticky-header);
  z-index: 1000;
}

.sticky-content {
  display: grid;
  grid-column: content;
}

.header-content {
  min-height: var(--height-sticky-header);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

// Логотип
.header-logo {
  --_logo-size: calc(var(--header-icon-size) * 2);

  & img {
    min-height: var(--_logo-size);
    max-width: var(--_logo-size);
  }

  @media screen and ($md <= width) {
    margin-inline: 0 clamp(0.75rem, 10.4712vw + -4.2762rem, 3.25rem);
  }
}

// Стиль кнопок с иконками (бургер, темы, уведом-я, логин)
.header-icon-btn {
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: var(--header-icon-opacity);

  max-width: calc(var(--header-icon-size) + (var(--header-icon-padding) * 2));
  padding: var(--header-icon-padding);
  border-radius: 50%;
  position: relative;
  text-align: center;
  isolation: isolate;

  z-index: 1100;

  &:hover,
  &:focus-visible {
    outline: 0;
    opacity: 1;
    background: hsl(0 0% 50% / 0.15);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: hsl(0 0% 50% / 0.2);
    border-radius: inherit;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
}

.header-icon-btn[data-click='clicked']::before {
  animation: pulseOnClick 650ms ease-out;
}

// Бургер
#hamburger {
  --_hamburger-padding: 0.2rem;
  padding: var(--_hamburger-padding);
  overflow: hidden;
  margin-right: 0.2rem;

  & svg {
    transition: translate 500ms, rotate 500ms;
  }

  &[data-state='true'] svg {
    translate: 4px -5px;
    rotate: 0.125turn;
  }

  & path {
    transition: 500ms;
    stroke-dasharray: 60 46 60 300;
  }

  &[data-state='true'] path {
    stroke-dasharray: 60 128 60 300;
    stroke-dashoffset: -106;
  }

  // 768px <= width (от 768px и более)
  @media screen and ($md <= width) {
    display: none;
  }
}

// Навигационное меню ul > li

#primary-navigation {
  margin-inline: 0 auto;
}

.primary-menu-list {
  position: fixed;
  inset: var(--height-sticky-header) 50% 0 0;

  background-color: var(--header-nav-bg);
  color: var(--header-nav-text-color);
  font-size: var(--header-nav-text-size);
  font-weight: var(--header-nav-text-weight);

  display: flex;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;

  transform: translateX(-100%);
  transition: transform 150ms ease-out;

  z-index: 1100;

  &[data-visible='true'] {
    transform: translateX(0%);
  }

  // 768px <= width (от 768px и более)
  @media screen and ($md <= width) {
    --header-nav-text-size: clamp(0.95rem, 1.466vw + 0.2463rem, 1.3rem);

    position: static;
    background-color: transparent;
    letter-spacing: 0.05ch;

    flex-flow: row nowrap;
    gap: var(--menu-item-gap);
    padding: 0;
    margin-inline: 0 auto;
    transform: none;
    transition: none;
  }
}

@media screen and (width <= $md) {
  @supports (backdrop-filter: blur(1rem)) {
    .header-menu {
      background-color: var(--header-nav-bg-unsup); // тест, сделать переменную для темной и светлой темы
      backdrop-filter: var(--header-nav-blur);
    }
  }
}

// Кнопка переключения темы (Btn > svg)
// ::after
#theme-toggle-btn {
  // Всплывающая подсказка
  &::after {
    content: attr(aria-label);
    position: absolute;
    color: var(--neutral-4);
    background: var(--neutral-10);
    width: max-content;
    font-size: 0.8rem;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.125rem;
    opacity: 0;

    transform: scale(0) translateX(-40%);
    transform-origin: left top;
    transition: transform 0ms linear 100ms, 70ms linear;

    z-index: 10000;
  }

  &:hover::after,
  &:focus-visible::after {
    opacity: 0.7;
    transform: scale(1) translateX(-40%);
    transition: transform linear 70ms, opacity 70ms linear;
  }
}

.light-theme .theme-toggle-circle {
  transform: translateX(0%);
  transition: transform 400ms ease-in-out;
}

.dark-theme .theme-toggle-circle {
  transform: translateX(15%);
  transition: transform 400ms ease-in-out;
}

.dark-theme #theme-toggle-btn[data-first-start='true'] .theme-toggle-circle {
  transition: transform 0ms;
}

.theme-toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.16, 0.18, 0.45, 1.32);
}

#theme-toggle-btn[data-first-start='true'] .theme-toggle-sun {
  transform-origin: center center;
  transition: transform 0ms;
}

.dark-theme .theme-toggle-sun {
  transform: rotate(0.5turn);
}

// Анимация пульации при нажатии на кнопку
@keyframes pulseOnClick {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// ==========================================================

// Вторая линия шапки
.page-sub-header {
  padding-block: 0.25rem;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}

// Блок с выбором офисов
.header-select-office {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 auto;

  @media screen and ($sm <= width) {
    max-width: 43.75ch;
  }
}

.header-select-column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;

  & > label {
    white-space: nowrap;
    line-height: 2em;
  }
}

.office-select-container {
  --_padding-right: 5%;
  --_select-border-radius: 0.2em;
  position: relative;
  max-width: 25ch;

  & > select {
    width: calc(100% - var(--_padding-right));
    padding-left: 1.5ch;
    background: transparent;
    border: 1px solid var(--accent-color);
    border-radius: var(--_select-border-radius);
    padding-top: 0.3ch;
    padding-bottom: 0.5ch;
  }
}

// Стили информации о выбранном пункте приёма документов
.office-info {
  border-left: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  text-align: end;
  padding-left: 3%;
}

// Cтили стрелок select элемента
.custom-office-select-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: var(--_padding-right);
  width: 2.25em;
  height: 100%;
  background-color: var(--accent-color);
  border-start-end-radius: var(--_select-border-radius);
  border-end-end-radius: var(--_select-border-radius);
  pointer-events: none;

  &::before,
  &::after {
    --_arrow-size: 0.45em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    border-left: var(--_arrow-size) solid transparent;
    border-right: var(--_arrow-size) solid transparent;
    border-top: var(--_arrow-size) solid white;
    top: 67%;
  }

  &::after {
    border-left: var(--_arrow-size) solid transparent;
    border-right: var(--_arrow-size) solid transparent;
    border-bottom: var(--_arrow-size) solid white;
    top: 32%;
  }
}

// Контакты в шапке (скрыты при width < 576px)
.contacts {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;

  @media screen and (width < $sm) {
    display: none;
  }

  @media screen and (width < $md) {
    & .contacts-law,
    & .contacts-translate {
      display: none;
    }
  }

  @media screen and (width < 940px) {
    gap: clamp(2.2rem, 18.2456vw + -6.5579rem, 4.15rem);

    & .contacts-translate {
      display: none;
    }
  }

  @media screen and (940px <= width < $lg) {
    gap: clamp(2.5rem, 30.8434vw + -15.6205rem, 4.1rem);
  }

  @media screen and ($lg <= width) {
    gap: clamp(4.1rem, 11.3386vw + -3.1496rem, 5rem);
  }

  & > li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
