@charset 'utf-8';

@use '../abstracts//' as *;

header {
  --header-primary-color: var(--brand);

  // Фоновые цвета
  --line-1: #{$neutral-7};
  --line-2: transparent;

  // Цвета текста и ссылок
  --header-select-office: var(--header-primary-color);
  --header-link: var(--link);

  // Стили навигационного меню
  --header-nav-text-size: #{$fs-300};
  --header-nav-text-weight: #{$bold};

  --header-nav: var(--brand);
  --nav-text: var(--brand);
  --header-nav-bg: #{$neutral-7};
  --header-nav-bg-unsup: hsl(0 0% 100% / 0.1);

  // Текст
  --text-size: #{$fs-100};

  --fs-header-text: var(--text-size);
  --fw-header-text: #{$regular};

  // Заголовки
  --fs-header-title: var(--text-size);
  --fw-header-title: #{$semi};

  // Ссылки
  --header-link: var(--link);

  // Отступы шапки
  --header-padding-inline: 1rem;
}

// header styles
header {
  font-size: var(--fs-header-text);
  font-weight: var(--fw-header-text);
}

// Заголовки в шапке
.header-title {
  font-size: var(--fs-header-heading);
  font-weight: var(--fw-header-heading);
}

.header-line-1,
.header-line-2 {
  padding-inline: var(--header-padding-inline);
}

// Первая линия шапки
.header-line-1 {
  --header-icon-size: 1.5rem;
  --height-line-1: 4rem;
  height: max-content;
  position: relative;
  padding-block: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: var(--line-1);
}

// Бургер
.header-menu-toggle {
  cursor: pointer;
  opacity: 0.75;

  position: absolute;
  z-index: 9999;
  background-color: transparent;
  background-image: url('/images/icon-burger.svg');
  // color  is changeed in svg file
  background-repeat: no-repeat;
  top: 1.25rem;
  left: var(--header-padding-inline);
  width: var(--header-icon-size);

  border: 0;
  aspect-ratio: 1;

  &[aria-expanded='true'] {
    background-image: url('/images/icon-close.svg');
    // color is changeed in svg file
  }
}

// Навигационное меню ul > li
.header-menu {
  --gap: 1.5em;

  position: fixed;
  z-index: 1000;
  inset: var(--height-line-1) 30% 0 0;
  color: var(--nav-text);
  background-color: var(--header-nav-bg);
  font-size: var(--header-nav-text-size);
  font-weight: var(--header-nav-text-weight);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: min(30vh, 10rem) 2em;

  transform: translateX(-100%);
  transition: transform 150ms ease-out;

  & a {
    color: var(--header-link);
    text-transform: uppercase;
  }

  & li:hover a,
  & li:focus a {
    opacity: 1;
  }
}

.header-menu[data-visible='true'] {
  transform: translateX(0%);
}

@supports (backdrop-filter: blur(1rem)) {
  .header-menu {
    background-color: var(--clr-bg-header-nav-unsup);
    backdrop-filter: blur(0.75rem);
  }
}

// Логотип
.header-logo {
  --logo-size: calc(var(--header-icon-size) * 2);
  margin-inline: 2.75rem auto;

  & img {
    max-height: var(--logo-size);
    max-width: var(--logo-size);
  }
}

// Кнопка переключения темы (Btn > svg)
#theme-toggle {
  --btn-padding: 0.5rem;
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: 0.75;

  max-width: calc(var(--header-icon-size) + (var(--btn-padding) * 2));
  padding: var(--btn-padding);
  border-radius: 50%;
  position: relative;
  margin-right: 5rem;
  text-align: center;
  isolation: isolate;
}

#theme-toggle svg {
  fill: var(--header-select-office);
}

#theme-toggle::before {
  content: '';
  position: absolute;
  inset: 0;
  background: hsl(0 0% 50% / 0.2);
  border-radius: inherit;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

.light-theme #theme-toggle::before {
  animation: pulseToLight 650ms ease-out;
}

.dark-theme #theme-toggle::before {
  animation: pulseToDark 650ms ease-out;
}

#theme-toggle::after {
  content: attr(aria-label);
  position: absolute;
  color: var(--clr-header-select-office);
  background: black;
  width: max-content;
  font-size: 0.8rem;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 auto;
  padding: 0.5em 1em;
  border-radius: 0.125rem;
  opacity: 0;

  transform: scale(0) translateX(-40%);
  transform-origin: left top;
  transition: transform 0ms linear 100ms, 70ms linear;
}

#theme-toggle:hover,
#theme-toggle:focus {
  outline: 0;
  opacity: 1;
  background: hsl(0 0% 50% / 0.15);
}

#theme-toggle:hover::after,
#theme-toggle:focus-visible::after {
  opacity: 0.7;
  transform: scale(1) translateX(-40%);
  transition: transform linear 70ms, opacity 70ms linear;
}

.toggle-circle {
  transform: translateX(-15%);
  transition: transform 500ms ease-in-out;
}

.light-theme .toggle-circle {
  transform: translateX(0%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.16, 0.18, 0.45, 1.32);
}

.light-theme .toggle-sun {
  transform: rotate(0.5turn);
}

@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// ==========================================================

// Вторая линия шапки
.header-line-2 {
  padding: 0.5rem var(--header-padding-inline);
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--line-2);
}

// Блок с выбором офисов
.header-select-office {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 auto;
}

.header-select-column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;

  & > label {
    white-space: nowrap;
    line-height: 2em;
  }
}

.office-select-container {
  --padding-right: 5%;
  --select-border-radius: 0.2em;
  position: relative;
  max-width: 13rem;

  & > select {
    width: calc(100% - var(--padding-right));
    padding-left: 1.5ch;
    background: transparent;
    border: 1px solid var(--header-select-office);
    border-radius: var(--select-border-radius);
    padding-top: 0.3ch;
    padding-bottom: 0.5ch;
  }
}

// Стили информации о выбранном пункте приёма документов
.office-info {
  border-left: 1px solid var(--header-select-office);
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  text-align: end;
  padding-left: 3%;

  & a {
    color: var(--header-link);
  }
}

// Cтили стрелок select элемента
.custom-office-select-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: var(--padding-right);
  width: 2.25em;
  height: 100%;
  background-color: var(--header-select-office);
  border-start-end-radius: var(--select-border-radius);
  border-end-end-radius: var(--select-border-radius);
  pointer-events: none;

  &::before,
  &::after {
    --arrow-size: 0.45em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid white;
    top: 67%;
  }

  &::after {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid white;
    top: 32%;
  }
}

// Контакты в шапке (скрыты при width < 576px)
.contacts {
  display: none;

  & > li {
    display: flex;
  }

  & > li::before {
    content: 'as';
  }
}

// Медиа запросы ===========================

@media (width < $xs) {
  header {
    --header-padding-inline: 0.5rem;
    --fs-header: #{$fs-100};
    --fs-header-heading: #{$fs-100};
  }
}
// 360px < width < 576px   (361px-575px)
@media ($xs < width < $sm) {
}

// 576px <= width < 768px   (576px-767px)
@media ($sm < width < $md) {
  .header-select-office {
    max-width: 60%;
  }

  .contacts {
    margin-left: auto;
    display: flex;
    flex: 1 1 auto;
  }

  .contacts-translate,
  .contacts-law {
    display: none;
  }
}

// Служебные классы =========================

.hidden {
  display: none;
}

.visible-flex-row {
  display: flex;
  flex-direction: row;
}

.visible-flex-col {
  display: flex;
  flex-direction: column;
}

.visible {
  display: inline-block;
}
