@charset 'utf-8';

@use '../abstracts//' as *;

.footer {
  // Поверхности | Surfaces
  // --clr-bg-footer: #{$surface-1-light};
  // --clr-bg-footer-column: #{$surface-2-light};

  // Шрифты | Fonts
  --fs-footer: #{$fs-200};
  --fw-footer: #{$fw-regular};
}

.footer {
  padding: 1em;

  font-size: var(--fs-footer);
  font-weight: var(--fw-footer);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  column-gap: 2em;
}

.footer__column {
  padding: 1rem;
  border: 1px solid $clr-brand-7;
}
