@charset 'utf-8';

@use '../abstracts//' as *;

.footer {
  // Поверхности | Surfaces
  --clr-bg-footer: #{$surface-1-light};
  --clr-bg-footer-column: #{$surface-2-light};

  // Шрифты | Fonts
  --fs-footer: #{$fs-200};
  --fw-footer: #{$fw-regular};

  // Ссылки | Links
  --clr-footer-link: #{$clr-link-base};
}

.footer {
  background-color: var(--clr-bg-footer);
  padding: 1em;

  font-size: var(--fs-footer);
  font-weight: var(--fw-footer);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  column-gap: 2em;
}

.footer__column {
  padding: 1rem;
  background-color: var(--clr-bg-footer-column);
}
