@charset 'utf-8';

@use '../abstracts//' as *;

// Footer components coclors
$clr-bg-footer-primary: $clr-brand-200;
$clr-footer-link: $clr-link-base;

// Footer font-size
$fs-footer: $fs-100;

// Footer font-size
$fw-footer: $fw-regular;

footer {
  --fs-footer: #{$fs-100};
  --fw-footer: #{fw-regular};

  font-size: var(--fs-footer);
  font-weight: var(--fw-footer);
  display: grid;
  place-items: center;

  grid-template-columns: repeat(3, minmax(50px, 1fr));
  min-height: 75px;
  background-color: $clr-bg-footer-primary;
}
