@charset 'utf-8';

@use './header.scss' as *;

.header-offices {
  display: flex;
  flex-direction: row;
}

.select-column {
  max-width: 12.5rem;
  margin-right: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-column > label {
  margin-bottom: 0.3rem;
}

.select-container {
  position: relative;
}

#office-select {
  max-width: 100%;
  min-width: 10.25rem;
  padding-left: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: transparent;
  border: $clr-header-select-offices solid 1px;
  border-radius: 0.5rem;
  line-height: 1.75rem;
}

#office-select optgroup {
  color: white;
  background-color: cadetblue;
}

#office-select option {
  color: black;
  background-color: white;
}

.custom-select-arrow {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background-color: $clr-header-select-offices;
  border: $clr-header-select-offices solid 1px;
  border-radius: 0 0.5rem 0.5rem 0;
  pointer-events: none;
}

.custom-select-arrow::before,
.custom-select-arrow::after {
  --arrow-size: 0.35em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-select-arrow::before {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-top: var(--arrow-size) solid white;
  top: 67%;
}

.custom-select-arrow::after {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid white;
  top: 32%;
}

.hidden {
  display: none;
}

.visible {
  width: 9rem;
  border-left: 1px solid $clr-header-select-offices;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.visible :is(a, p, pre) {
  line-height: 1.3rem;
}

.visible a {
  color: $clr-header-link;
}
