@charset 'utf-8';

@use '../abstracts//' as *;

// Headers components coclors
$clr-header-primary: $clr-brand-300;
$clr-header-nav: $clr-header-primary;
$clr-header-select-offices: $clr-header-primary;
$clr-header-link: $clr-link-base;

header {
  --fw-header: #{$fw-regular};
  --fw-header-heading: #{$fw-semibold};

  --fs-header: #{$fs-100};
  --fs-header-heading: #{$fs-100};

  // --fs-header-heading: 0.62rem;
}

header {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

// Заголовки в шапке
.header-title {
  font-size: var(--fs-header-heading);
  font-weight: var(--fw-header-heading);

  @media only screen and ($xs < width < $sm) {
    --fs-header-heading: #{$fs-100};
  }
}

.header-line-1 {
  min-height: 6em;
  padding-inline: 0.5rem;
  font-size: var(--fs-header);
  font-weight: var(--fw-header);

  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  align-items: center;

  @media only screen and ($xs < width < $sm) {
    --fs-header: #{$fs-200};
  }
}

/* Display:none на маленьких экранах */

.header-logo {
  margin-right: 1.5em;
  display: none;

  @media only screen and (width < $xs) {
    display: block;
  }

  & img {
    max-width: 4.5em;
  }
}

.header-select-office {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  justify-content: space-between;

  display: flex;
  justify-content: space-between;
}

.header-select-column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;

  & > label {
    white-space: nowrap;
    line-height: 2em;
  }
}

.office-select-container {
  --select-border-radius: 0.4em;
  position: relative;

  & > select {
    width: 100%;
    padding-left: 1.5ch;
    background: transparent;
    border: $clr-header-select-offices solid 1px;
    border-radius: var(--select-border-radius);
    padding-block: 0.5ch;
  }
}

.visible {
  margin-left: 2ch;
  padding-left: 2ch;
  border-left: 1px solid $clr-header-select-offices;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: end;
  line-height: 1.5em;

  @media screen and ($xs < width < $sm) {
    border-left: 0;
  }

  & a {
    color: $clr-header-link;
  }
}

// Cтили стрелок select элемента
.custom-office-select-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25em;
  height: 100%;
  background-color: $clr-header-select-offices;
  border-start-end-radius: var(--select-border-radius);
  border-end-end-radius: var(--select-border-radius);
  pointer-events: none;

  &::before,
  &::after {
    --arrow-size: 0.45em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid white;
    top: 67%;
  }

  &::after {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid white;
    top: 32%;
  }
}

/* Display:none на маленьких экранах */
.contacts {
  display: none;

  @media screen and (min-width: $xs) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  & li {
    display: flex;
    flex-direction: column;
  }

  & a {
    color: $clr-header-link;
  }
}

// Стили навигационного меню
.header-menu {
  display: flex;
  flex-direction: row;
  display: none;

  & > ul {
    display: grid;

    & a {
      display: flex;
      justify-content: center;
      color: white;
      text-transform: uppercase;
      font-weight: var(--fw-header-heading) f;
    }

    & li:hover a,
    & li:focus a {
      color: white;
      background-color: cadetblue;
      opacity: 100;
    }
  }
}

.theme-select-container {
  --size: 2em;
  height: var(--size);
  width: var(--size);

  & #theme-select {
    height: var(--size);
    width: var(--size);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1 solid violet;
  }

  & option {
    color: white;
    background-color: transparent;
  }
}
