@charset 'utf-8';

@use './header.scss' as *;

.header-offices {
  display: flex;
  flex-direction: row;
}

.select-column {
  min-width: 27ch;

  margin-left: 2em;
  margin-right: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > label {
    font-size: 1.1rem;
    margin-bottom: 0.3em;
  }
}

.select-container {
  position: relative;
}

#office-select {
  min-width: 100%;
  padding-left: 1.75ch;
  background: transparent;
  border: $clr-header-select-offices solid 1px;
  border-radius: 0.5em;
  font-size: $fs-header-heading;
  line-height: 2.3em;
}

.hidden {
  display: none;
}

.visible {
  margin-right: 1.25em;
  min-width: 18ch;
  border-left: 1px solid $clr-header-select-offices;

  text-align: end;

  & :is(a, p, pre) {
    line-height: 1.3rem;
  }

  & a {
    color: $clr-header-link;
  }
}

.custom-select-arrow {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background-color: $clr-header-select-offices;
  border: $clr-header-select-offices solid 1px;
  border-radius: 0 0.5rem 0.5rem 0;
  pointer-events: none;

  &::before,
  &::after {
    --arrow-size: 0.35em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid white;
    top: 67%;
  }

  &::after {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid white;
    top: 32%;
  }
}
