@charset 'utf-8';

@use './header.scss' as *;

#header-menu {
  display: flex;
  flex-direction: row;

  & > ul {
    display: grid;

    & a {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      display: flex;
      justify-content: center;
    }

    & li:hover a,
    & li:focus a {
      color: white;
      background-color: cadetblue;
      opacity: 100;
    }
  }

  & .hidden {
    display: none;
  }
}
