@charset 'utf-8';

@use '../abstracts//' as *;

// Headers components coclors
$clr-header-primary: $clr-brand-300;
$clr-header-nav: $clr-header-primary;
$clr-header-select-offices: $clr-header-primary;
$clr-header-link: $clr-link-base;

header {
  min-height: 200px;
}

.header-info {
  font-size: 0.9rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header-logo img {
  margin-block: 0.5rem;
  height: 100%;
  min-width: 4rem;
  max-width: 7rem;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

.contacts li {
  display: flex;
  flex-direction: column;
}

.contacts a {
  color: $clr-header-link;
}

.header-title {
  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem !important;
}
