@charset 'utf-8';

header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
}

.header-info {
  font-size: 0.9rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header-logo img {
  margin-block: 0.5rem;
  height: 100%;
  min-width: 4rem;
  max-width: 7rem;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

.contacts li {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem !important;
}
