---
import HomePageHeroForm from '@components/forms/main-hero-form.astro'
---

<div class:list={['main-section', 'home-page-hero-section']}>
  <div class:list={['section-wrapper', 'home-page-hero-wrapper']}>
    <div id="home-page-hero">
      <hgroup class="text-container">
        <h3 class="hero-title">Нужны переводы?</h3>
        <p class="hero-text">
          Нотариальные переводы документов для поступления в ВУЗ, оформления РВП, ВНЖ, гражданства, шенгенской визы,.
        </p>
      </hgroup>
      <HomePageHeroForm />
    </div>
  </div>
</div>
