---
import HomePageHeroForm from '@components/forms/main-hero-form.astro'
---

<div class:list={['main-section', 'home-page-hero-section']}>
  <div class:list={['section-wrapper', 'home-page-hero-wrapper']}>
    <div id="home-page-hero">
      <hgroup class="text-container">
        <h3 class="hero-title">Нужна помощь с переводом?</h3>
        <p class="hero-text">Давайте обсудим ваши потребности и составим индивидуальный план именно для вас!</p>
      </hgroup>
      <HomePageHeroForm />
    </div>
  </div>
</div>
