@charset 'utf-8';

// Сolors
$gray-0: hsl(210 16.7% 97.6%);
$gray-1: hsl(210 16.7% 95.3%);
$gray-2: hsl(210 15.8% 92.5%);
$gray-3: hsl(210 13.8% 88.6%);
$gray-4: hsl(210 14% 83.1%);
$gray-5: hsl(210 10.8% 71%);
$gray-6: hsl(210 7.1% 55.7%);
$gray-7: hsl(210 8.8% 31.4%);
$gray-8: hsl(210 10.3% 22.7%);
$gray-9: hsl(210 10.8% 14.5%);
$gray-10: hsl(214 13.7% 10%);
$gray-11: hsl(216 16.1% 6.1%);
$gray-12: hsl(210, 40%, 2%);

$orange-0: hsl(34 100% 95.1%);
$orange-1: hsl(33 100% 90%);
$orange-2: hsl(33 100% 82.9%);
$orange-3: hsl(32 100% 73.5%);
$orange-4: hsl(31 100% 65.1%);
$orange-5: hsl(29 100% 58.4%);
$orange-6: hsl(27 98.3% 53.5%);
$orange-7: hsl(24, 94%, 50%);
$orange-7: hsl(24 94.5% 49.8%);
$orange-8: hsl(21 90.2% 47.8%);
$orange-9: hsl(17 87.1% 45.5%);
$orange-10: hsl(17 87.3% 40%);
$orange-11: hsl(17 86.6% 32.2%);
$orange-12: hsl(17 86.9% 26.9%);

// Color tokens
$neutral-0: $gray-0;
$neutral-1: $gray-1;
$neutral-2: $gray-2;
$neutral-3: $gray-3;
$neutral-4: $gray-4;
$neutral-5: $gray-5;
$neutral-6: $gray-6;
$neutral-7: $gray-7;
$neutral-8: $gray-8;
$neutral-9: $gray-9;
$neutral-10: $gray-10;
$neutral-11: $gray-11;
$neutral-12: $gray-12;

$brand-0: $orange-0;
$brand-1: $orange-1;
$brand-2: $orange-2;
$brand-3: $orange-3;
$brand-4: $orange-4;
$brand-5: $orange-5;
$brand-6: $orange-6;
$brand-7: $orange-7;
$brand-8: $orange-8;
$brand-9: $orange-9;
$brand-10: $orange-10;
$brand-11: $orange-11;
$brand-12: $orange-12;