---
import { menu } from "../menu"

const  { } = Astro.props;
---
<nav id="main-menu">
  <ul class="menu">
    {menu.map( (i) => (
    <li class="menu-item"> 
      <a href={i.url}>{i.title}</a>
    </li>))
    }
  </ul>
</nav>

<style>

  #main-menu {
    display: flex;
    flex: 1 1 auto;
    background-color: chocolate;
  }

  .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 1 1 auto;

  }

  .menu-item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: flex-start;
  }

  .menu-item a {
    padding: 0.3rem 1rem  ;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

</style>