---
import PagesLayout from '../layouts/PagesLayout.astro';
---

<PagesLayout title="Главная">
  <div class="section">
    <div class="hero"></div>
  </div>
</PagesLayout>

<style>
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: brown;
  }

  .hero {
    width: 90%;
    height: 90%;
    background-color: cornflowerblue;
    display: flex;
  }

</style>
