---
import PagesLayout from '../layouts/PagesLayout.astro';
---

<PagesLayout title="Главная">
  <div class="hero">
    <div class="btn-group">
      <button>Кнопка 1</button>
      <button>Кнопка 2</button>
    </div>
  </div>
  <div class="about">
    <p>Какой-то текст</p>
    <p>Какой-то текст</p>
    <p>Какой-то текст</p>
    <p>Какой-то текст</p>
    <p>Какой-то текст</p>
  </div>
</PagesLayout>

<style>

  .hero {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: cornflowerblue;
    display: flex;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: brown;
  }



</style>
