---
import PagesLayout from '@layouts/PagesLayout.astro'
---

<PagesLayout title="Домашняя">
  <section class="hero">
    <div class="111">
      <h1>АБВ</h1>
    </div>
    <div class="111">
      <h1>ГДЕ</h1>
    </div>
  </section>
</PagesLayout>
