---
import PagesLayout from '@layouts/PagesLayout.astro'
import HomePageHero from '@components/sections/hero/home-page-hero.astro'

const {} = Astro.props
---

<PagesLayout title="Домашняя">
  <HomePageHero />
  <div class:list={['main-section', 'sub-hero-section']}>
    <div class:list={['section-wrapper', 'sub-hero-wrapper']}>
      <h1 class:list={['main-title', 'sub-hero-title']}>Почему выбирают нас?</h1>
    </div>
  </div>
  <div class:list={['main-section', 'services-section']}>
    <div class:list={['section-wrapper', 'services-wrapper']}>
      <h1 class:list={['main-title', 'services-title']}>Услуги бюро переводов</h1>
      <p></p>
    </div>
  </div>
  <div class:list={['main-section', 'testimonials-section']}>
    <div class:list={['section-wrapper', 'testimonials-wrapper']}>
      <h1 class:list={['main-title', 'testimonials-title']}>Отзывы</h1>
      <div class="testimonials-carousel">
        <div class="testimonial-1">Отзыв 1</div>
        <div class="testimonial-2">Отзыв 2</div>
        <div class="testimonial-3">Отзыв 3</div>
        <div class="testimonial-4">Отзыв 4</div>
        <div class="testimonial-5">Отзыв 5</div>
      </div>
    </div>
  </div>
</PagesLayout>
