---
// line 1
import Navbar from '@components/header/navbar/Navbar.astro'
import Logo from '@components/header/logo/Logo.astro'
import ThemeToggle from '@components/header/themeToggle/ThemeToggle.astro'
import Login from '@components/header/login/Login.astro'
import Notices from '@components/header/notices/Notices.astro'

// line 2
import Offices from '@components/header/offices/Offices.astro'
import Contacts from '@components/header/contacts/Contacts.astro'
---

<header>
  <div class="header-line-1">
    <Navbar />
    <Logo />
    <ThemeToggle />
    <!-- <Notices /> -->
    <Login />
  </div>
  <div class="header-line-2">
    <Offices />
    <Contacts />
  </div>
</header>
