---
import { Picture } from 'astro:assets'
import logo from './logo_v1.webp'

import Offices from '@components/header/offices/Offices.astro'
import Navbar from '@components/header/navbar/Navbar.astro'
---

<header>
  <div class="header-info">
    <a class="header-logo" href="/">
      <!-- Логотип -->
      <Picture src={logo} formats={['avif', 'webp']} alt=`Логотип лучшего в городе Бюро переводов "Аладдин"` />
    </a>
    <Offices />
    <ul class="contacts">
      <li class="contacts-item">
        <p class="header-title">Телефон отдела переводов</p>
        <a href="tel:+79173026308"> +7 (917) 302-63-08</a>
      </li>
      <li>
        <p class="header-title">Телефон юридического отдела</p>
        <a href="tel:+79030238585">+7 (903) 023-85-85</a>
      </li>
      <li>
        <p class="header-title">Email</p>
        <a href="mailto:perevod@aladdin-s.ru">perevod@aladdin-s.ru</a>
      </li>
    </ul>
  </div>
  <Navbar />
</header>
