---
// line 1
import Hamburger from '@components/header/buttons/Hamburger.astro'
import Logo from '@components/header/logo/Logo.astro'
import Navbar from '@components/header/navbar/Navbar.astro'

import ThemeToggle from '@components/header/buttons/ThemeToggle.astro'
import Login from '@components/header/buttons/Login.astro'
import Notices from '@components/header/buttons/Notices.astro'

// line 2
import Offices from '@components/header/offices/Offices.astro'
import Contacts from '@components/header/contacts/Contacts.astro'
---

<header>
  <div class="header-line-1">
    <Hamburger />
    <Logo />
    <Navbar />
    <ThemeToggle />
    <Notices />
    <Login />
  </div>
  <div class="header-line-2">
    <Offices />
    <Contacts />
  </div>
</header>

<script>
  const hamburgerBtn = document.querySelector('#hamburger')
  const themeBtn = document.querySelector('#theme-toggle-btn')
  const noticeBtn = document.querySelector('#header-notice-btn')
  const loginBtn = document.querySelector('#header-login-btn')

  const elems = []
  elems.push(hamburgerBtn)
  elems.push(themeBtn)
  elems.push(noticeBtn)
  elems.push(loginBtn)

  elems.forEach((e: any | null) =>
    e.addEventListener('click', () => {
      console.log(e)
      e.setAttribute('data-click', 'clicked')
      setTimeout(() => {
        e.removeAttribute('data-click')
      }, 650)
    })
  )
</script>
