---
// line 1
import Hamburger from '@components/header/SVGButtons/Hamburger.astro'
import Logo from '@components/header/logo/Logo.astro'
import Navbar from '@components/header/navbar/Navbar.astro'

import ThemeToggle from '@components/header/SVGButtons/ThemeToggle.astro'
import Login from '@components/header/SVGButtons/Login.astro'
import Notices from '@components/header/SVGButtons/Notices.astro'
---

<header class="sticky full-width">
  <div class="sticky-content">
    <div class="header-content">
      <Hamburger />
      <Logo />
      <Navbar />
      <ThemeToggle />
      <Notices />
      <Login />
    </div>
  </div>

  <script>
    const hamburgerBtn = document.querySelector('#hamburger')
    const themeBtn = document.querySelector('#theme-toggle-btn')
    const noticeBtn = document.querySelector('#header-notice-btn')
    const loginBtn = document.querySelector('#header-login-btn')

    const elems = []
    elems.push(hamburgerBtn)
    elems.push(themeBtn)
    elems.push(noticeBtn)
    elems.push(loginBtn)

    elems.forEach((e: any | null) =>
      e.addEventListener('click', () => {
        e.setAttribute('data-click', 'clicked')
        setTimeout(() => {
          e.removeAttribute('data-click')
        }, 650)
      })
    )
  </script>
</header>
