---
import Logo from '@components/header/logo/Logo.astro'

import Offices from '@components/header/offices/Offices.astro'
import Contacts from '@components/header/contacts/Contacts.astro'
import Navbar from '@components/header/navbar/Navbar.astro'
import ThemeButton from './ThemeButton.astro'
---

<header>
  <div class="header-line-1">
    <Navbar />
    <Logo />
    <ThemeButton />
  </div>
  <div class="header-line-2">
    <Offices />
    <Contacts />
  </div>
</header>
