---
import { Image } from 'astro:assets'
import logo from './logo_v1.webp'
---

<a class="header-logo" href="/">
  <!-- Логотип -->
  <Image src={logo} alt=`Логотип лучшего в городе Бюро переводов "Аладдин"` />
</a>
