---

---

<div class="theme-select-component">
  <div class="theme-select-container">
    <select name="" id="theme-select">
      <option value="system"></option>
      <option value="light"></option>
      <option value="dark"></option>
    </select>
  </div>
</div>

<style lang="sass"></style>
