---
const {} = Astro.props
---

<footer class="footer">
  <div class="line-1">
    <div class="socials"></div>
  </div>
  <div class="line-2">
    <div class="copyright"></div>
    <a class="private-policy" href="/ru/law-info">Политика конфиденциальности</a>
  </div>
</footer>
