---
const {} = Astro.props
---

<footer class="footer">
  <div class="wrapper footer-wrapper">
    <div class="fl-row">
      <div class="fl-col">
        <p> Колонка 1, Строка 1 </p>
        <p> Колонка 1, Строка 2 </p>
        <p> Колонка 1, Строка 3 </p>
      </div>
      <div class="fl-col">
        <p> Колонка 2, Строка 1 </p>
        <p> Колонка 2, Строка 2 </p>
        <p> Колонка 2, Строка 3 </p>
      </div>
      <div class="fl-col">
        <p> Колонка 3, Строка 1 </p>
        <p> Колонка 3, Строка 2 </p>
        <p> Колонка 3, Строка 3 </p>
      </div>
    </div>
  </div>
</footer>

<style>

  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

	.wrapper {
		width: 1080px;
  }

  .footer-wrapper {
    background-color: darkgreen ;
  }

  .fl-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }



</style>