---
import offices from "./offices"

---

<div class="office-select">
  <p class="title">Пункты приёма документов</p>
  <div class="choice">
    <select size='1'>
      <option value="">оф. Вольская</option>
      <option value="">оф. Рабочая</option>
    </select>
    <div class="result">
      <p></p>
    </div>
  </div>
</div>

<style>

  .office-select {
    display: flex;
    flex-flow: column nowrap;
  }

  .title {
    font-size: 0.9rem;
  }

  .choice {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }

  select {
    padding: 1rem 1.5rem 1rem 1.5rem;

    background-color: transparent;
    border: 0;
    font-size: 1rem;
  }

  select::before,
  select::after {
    --size: 1rem;
  }

  select::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: brown;
  }

  select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid red;
  }

  option {
    background-color: white;
    border: 0;
    font-size: 1rem;
  }

</style>