---

---

<ul class="contacts">
  <li class="contacts-law">
    <h3 class="header-title">Юридический отдел</h3>
    <a href="tel:+79030238585">+7 (903) 023-85-85</a>
  </li>
  <li class="contacts-translate">
    <h3 class="header-title">Отдел переводов</h3>
    <a href="tel:+79173026308"> +7 (917) 302-63-08</a>
  </li>
  <li class="contacts-email">
    <h3 class="header-title">Электронная почта:</h3>
    <a href="mailto:perevod@aladdin-s.ru">perevod@aladdin-s.ru</a>
  </li>
</ul>
