<button id="hamburger" class="header-icon-btn" aria-controls="primary-navigation" aria-expanded="false">
  <svg stroke="var(--header-icon-color)" fill="none" width="128" height="128" viewBox="-15 -10 120 120">
    <path
      stroke-width="10"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m 20 40 h 60 a 1 1 0 0 1 0 30 h -60 a 1 1 0 0 1 0 -50 h 30 v 80"
    >
    </path>
  </svg>
</button>

<script>
  const headerMenu = document.querySelector('.primary-menu-list') as HTMLUListElement
  const hamnurgerButton = document.querySelector('#hamburger') as HTMLButtonElement

  hamnurgerButton?.addEventListener(
    'click',
    () => {
      const visibility: string | null = headerMenu.getAttribute('data-visible')

      if (!visibility || visibility === 'false') {
        hamnurgerButton.setAttribute('data-state', 'true')
        hamnurgerButton.setAttribute('aria-expanded', 'true')
        headerMenu.setAttribute('data-visible', 'true')
      } else if (visibility === 'true') {
        hamnurgerButton.setAttribute('data-state', 'false')
        hamnurgerButton.setAttribute('aria-expanded', 'false')
        headerMenu.setAttribute('data-visible', 'false')
      }
    },
    false
  )
</script>
