---
interface Props {
  title: string
}

import '../styles/style.scss'
import Header from '@components/header/Header.astro'
import Footer from '@components/Footer.astro'
import SVGs from 'public/images/svcCollection.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body id="body" class:list={['light-theme']}>
    <SVGs />
    <Header />
    <slot>
      <h1>Заглушка</h1>
    </slot>
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: [content-start] 1fr [contend-end];
  }
</style>
