---
export const prerender = true

interface Props {
  title: string
}

import '../styles/style.scss'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body id="body" class:list={['light-theme', 'base-layout']}>
    <slot>
      <h1>Заглушка</h1>
    </slot>
  </body>

  <style></style>
</html>
