---
import Layout from "@layouts/Layout.astro"

const {title} = Astro.props
---
<Layout title={title}>
  <main class="main">
    <div class="main-wrapper">
      <slot>
        <h1 style="text-align: center;">{title}</h1>
      </slot>
    </div>
  </main>
</Layout>

<style>
  
  .main {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .main-wrapper {
    width: 1080px;
  }

</style>