---
import Layout from '@layouts/Layout.astro'

const { title } = Astro.props
---

<Layout title={title}>
  <main class="main">
    <slot>
      <h1 style="color: red">{title}</h1>
    </slot>
  </main>
</Layout>
