---
import Layout from '@layouts/Layout.astro'

import Header from '@components/header/Header.astro'
import Footer from '@components/Footer.astro'
import SVGs from 'public/images/svcCollection.astro'

const { title } = Astro.props
---

<Layout title={title}>
  <SVGs />
  <Header />
  <main class:list={['page-main']}>
    <slot>
      <h1 style="color: red">{title || 'Cтраница без аттрибута TITLE, добавь его!'}</h1>
    </slot>
  </main>
  <Footer />
</Layout>
