---
import headerMenu from './headerMenuData'

const {} = Astro.props
---

<button class="header-menu-toggle" aria-controls="header-menu" aria-expanded="false"> </button>
<nav>
  <ul id="header-menu" data-visible="false" class="header-menu">
    {
      headerMenu.map((i) => (
        <li>
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  const headerMenu = document.querySelector('.header-menu') as HTMLUListElement
  const headerMenuToggle = document.querySelector('.header-menu-toggle') as HTMLButtonElement

  headerMenuToggle?.addEventListener('click', () => {
    const visibility: string | null = headerMenu.getAttribute('data-visible')

    if (visibility === 'false') {
      headerMenu.setAttribute('data-visible', 'true')
      headerMenuToggle.setAttribute('aria-expanded', 'true')
    } else if (visibility === 'true') {
      headerMenu.setAttribute('data-visible', 'false')
      headerMenuToggle.setAttribute('aria-expanded', 'false')
    }
  })
</script>
