---
import headerMenu from './headerMenuData'

const {} = Astro.props
---

<nav class="header-menu">
  <button class="header-menu-toggle">X</button>
  <ul class="hidden">
    {
      headerMenu.map((i) => (
        <li>
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script></script>
