---
import headerMenu from './headerMenuData'

const {} = Astro.props
---

<nav>
  <ul id="header-menu" class="header-menu">
    {
      headerMenu.map((i) => (
        <li>
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
</nav>
