---
import headerMenu from './headerMenuData'

const {} = Astro.props
---

<nav class="header-menu">
  <ul class="menu">
    {
      headerMenu.map((i) => (
        <li class="menu-item">
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .header-menu {
    background-color: chocolate;
  }

  .header-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .menu-item {
    width: 100%;
    list-style: none;
  }

  .menu-item a {
    padding: 0.3rem 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

  .menu-item:hover a,
  .menu-item:focus a {
    color: white;
    background-color: cadetblue;
    opacity: 100;
  }
</style>
