---
import headerMenu from './headerMenuData'
---

<nav id="primary-navigation">
  <ul class="primary-menu-list">
    {
      headerMenu.map((i) => (
        <li>
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
</nav>
