---
import headerMenu from './headerMenuData'
import ThemeButton from '../ThemeButton.astro'

const {} = Astro.props
---

<nav class="header-menu">
  <button id="menu-toggle"></button>
  <ul class="hidden">
    {
      headerMenu.map((i) => (
        <li>
          <a href={i.url}>{i.title}</a>
        </li>
      ))
    }
  </ul>
  <ThemeButton />
</nav>

<script></script>
