---
import { Picture } from 'astro:assets'
import logo from './logo_v1.webp'
import logo2 from './logo_v2.jpg'
---

<a class="header-logo" href="/">
  <!-- Логотип -->
  <Picture src={logo} alt=`Логотип лучшего в городе Бюро переводов "Аладдин"` />
</a>
