@charset 'utf-8';

body {
  font-family: var(--ff-primary, --ff-secondary);
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:is(:link, :any-link, :visited, :active) {
    color: var(--link-color);
  }

  &:is(:hover, :focus, :focus-visible, :focus-within) {
    opacity: 0.8;
  }
}

input[type='text'] {
  appearance: none;
  outline: 1px solid var(--accent-color);
  box-shadow: none;
  border-radius: 3px;
  padding: 0.15em 0.5em;
}

input:user-valid {
  outline-color: var(--input-valid-dark);
}

input:user-invalid {
  outline-color: var(--input-invalid-light);
}
