@charset 'utf-8';
@use '../abstracts/' as *;

body {
  font-family: $ff-primary, $ff-secondary;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  /* unvisited link */
  &:link {
    color: $clr-brand-5;
  }

  &:is(:hover, :focus) {
    opacity: 0.7;
  }

  &:visited {
    color: red;
  }

  &:active {
    color: inherit;
  }
}

// select
select {
  overflow: visible;
  max-width: 100%;
  border: 0;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  font-family: $ff-primary, $ff-secondary;
}

optgroup {
  color: white;
  background-color: cadetblue;
  font-family: $ff-primary, $ff-secondary;
  font-weight: $fw-semi;
  line-height: 1.5rem;
}

option {
  color: black;
  background-color: white;
  font-family: $ff-primary, $ff-secondary;
  font-weight: $fw-regular;
  line-height: 1.5rem;
}

.hidden {
  display: none;
}
