@charset 'utf-8';

@use '../abstracts//' as *;

// Цвета под темы
html {
  color-scheme: dark light;

  // Light
  --brand-light: #{$orange-7};

  --surface-1-light: #{$neutral-0};
  --surface-2-light: #{$neutral-1};
  --surface-3-light: #{$neutral-2};
  --surface-4-light: #{$neutral-3};

  --text-light: #{$neutral-12};

  --link-light: var(--brand-light);

  // Dark
  --brand-dark: #{$orange-5};

  --surface-1-dark: #{$neutral-12};
  --surface-2-dark: #{$neutral-11};
  --surface-3-dark: #{$neutral-10};
  --surface-4-dark: #{$neutral-9};

  --text-dark: #{$neutral-4};

  --link-dark: var(--brand-dark);
}

/* Default     | По умолчанию*/
/* Preferences | Предпочтения */
/* Light theme | Светлая тема */
:root {
  color-scheme: light;

  --brand: var(--brand-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --text: var(--text-light);
  --link: var(--link-light);

  --bg: var(--surface-1);
}

/* Preferences | Предпочтения */
/* Dark theme  | Тёмная тема  */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --text: var(--text-dark);
    --link: var(--link-dark);

    --bg: var(--surface-1);
  }
}

/* Light theme | Светлая тема */
:root:has(body.lihgt-theme) {
  color-scheme: light;

  --brand: var(--brand-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --text: var(--text-light);
  --link: var(--link-light);

  --bg: var(--surface-1);
}

/* Dark theme  | Тёмная тема */
:root:has(body.dark-theme) {
  color-scheme: dark;

  --brand: var(--brand-dark);

  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);

  --text: var(--text-dark);
  --link: var(--link-dark);

  --bg: var(--surface-1);
}

body {
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: var(--link);
}
