@charset 'utf-8';

html {
  color-scheme: dark light;

  // Light
  --accent-light: var(--accent-7);

  --surface-1-light: var(--neutral-0);
  --surface-2-light: var(--neutral-1);
  --surface-3-light: var(--neutral-2);
  --surface-4-light: var(--neutral-3);

  --surface-invert-1-light: var(--neutral-11);
  --surface-invert-2-light: var(--neutral-10);
  --surface-invert-3-light: var(--neutral-9);
  --surface-invert-4-light: var(--neutral-8);

  --text-color-light: var(--neutral-12);
  --link-color-light: var(--accent-light);

  // Dark
  --accent-dark: var(--accent-5);

  --surface-1-dark: var(--neutral-12);
  --surface-2-dark: var(--neutral-11);
  --surface-3-dark: var(--neutral-10);
  --surface-4-dark: var(--neutral-9);

  --surface-invert-1-dark: var(--neutral-1);
  --surface-invert-2-dark: var(--neutral-2);
  --surface-invert-3-dark: var(--neutral-3);
  --surface-invert-4-dark: var(--neutral-4);

  --text-color-dark: var(--neutral-4);
  --link-color-dark: var(--accent-dark);
}

/* Default     | По умолчанию*/
/* Preferences | Предпочтения */
/* Light theme | Светлая тема */
:root {
  color-scheme: light;

  --accent-color: var(--accent-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --surface-invert-1: var(--surface-invert-1-light);
  --surface-invert-2: var(--surface-invert-2-light);
  --surface-invert-3: var(--surface-invert-3-light);
  --surface-invert-4: var(--surface-invert-4-light);

  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
}

/* Preferences | Предпочтения */
/* Dark theme  | Тёмная тема  */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --accent-color: var(--accent-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --surface-invert-1: var(--surface-invert-1-dark);
    --surface-invert-2: var(--surface-invert-2-dark);
    --surface-invert-3: var(--surface-invert-3-dark);
    --surface-invert-4: var(--surface-invert-4-dark);

    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
  }
}

/* Light theme | Светлая тема */
:root:has(body.lihgt-theme) {
  color-scheme: light;

  --accent-color: var(--accent-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --surface-invert-1: var(--surface-invert-1-light);
  --surface-invert-2: var(--surface-invert-2-light);
  --surface-invert-3: var(--surface-invert-3-light);
  --surface-invert-4: var(--surface-invert-4-light);

  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
}

/* Dark theme  | Тёмная тема */
:root:has(body.dark-theme) {
  color-scheme: dark;

  --accent-color: var(--accent-dark);

  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);

  --surface-invert-1: var(--surface-invert-1-dark);
  --surface-invert-2: var(--surface-invert-2-dark);
  --surface-invert-3: var(--surface-invert-3-dark);
  --surface-invert-4: var(--surface-invert-4-dark);

  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
}

body {
  color: var(--text-color);
  background-color: var(--surface-1);
}

a {
  color: var(--link-color);
}
