---
let { msg, id, cl, other } = Astro.props
---

<p id={id} class:list={[cl, 'none']} {...other}>{msg}</p>

<style>
  .form-result-msg {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
</style>
