---

---

<!-- изучи формы!!! -->
<form id="hp-hero-form" action="main-hero-form" flx-col>
  <input type="text" placeholder="Ваше имя" name="name" required />
  <input type="tel" placeholder="Ваш телефон" name="phone" />
  <input type="text" placeholder="С какого языка" name="lang-in" />
  <input type="text" placeholder="На какой язык" name="lang-out" />
  <div>
    <label for="document-photo">Прикрепите фото документа</label>
    <input type="file" accept="image/*" name="document-photo" multiple />
  </div>

  <div style="font-size: 0.7rem;">
    <input type="checkbox" placeholder="Даю согласие на обработку" name="agree" checked />
    Даю согласие на обработку<a href="/ru/law-info/personal-data-processing-policy" target="_blank">
      персональных данных</a
    >
  </div>

  <button type="submit">ЗАПРОСИТЬ ЦЕНУ</button>
</form>

<style></style>
