---
import { actions } from 'astro:actions'

const result = Astro.getActionResult(actions.newLead)
// console.log(result)
---

<script></script>

<form id="hp-hero-form" name="hpHeroForm" method="POST" action={actions.newLead}>
  <input type="text" placeholder="Ваше имя" name="leadName" required={true} />
  <input type="text" placeholder="Ваш телефон" name="leadPhone" required />

  <div>
    <input type="checkbox" placeholder="Даю согласие на обработку" name="formConsent" required />
    {' Даю согласие на обработку '}
    <a href="/ru/law-info/personal-data-processing-policy" target="_blank">
      {'персональных данных'}
    </a>
  </div>

  <button type="submit">Узнать цену</button>
</form>
<p class="form-submit-status"></p>
