---
const { origin } = Astro.url
import FormResultMSG from './FormSendResultMsg.astro'
---

<script>
  import { LeadSourse } from 'back/models/LeadSourse'
  import { Lead } from 'back/models/Lead'
  import { Message } from 'back/models/Message'

  const leadSourseId = '001'
  const leadSourseName = 'hp-hero-lead-form'
  const leadSourseType = 'Main site'
  const leadSourseURL = origin
  const leadSourseDescription = 'This is the LeadForm from the Hero section from the home page of the main site.'

  // (id, name, type, url, description)
  let hpFormLeadSourse = new LeadSourse(
    leadSourseId, // '001'
    leadSourseName, // 'hp-hero-lead-form'
    leadSourseType, // 'Mine site'
    leadSourseURL, // Astro.url.origin
    leadSourseDescription // 'This is the LeadForm from the Hero section from the home page of the main site.'
  )

  const hpHeroForm = document.forms.namedItem('hpHeroForm') as HTMLFormElement

  hpHeroForm.addEventListener('submit', function (event: SubmitEvent) {
    event.preventDefault() // прерываем действие по умолчанию

    // создаём FormData нашей формы
    let leadData: FormData = new FormData(hpHeroForm)

    // Готовим параменты для формирования лида
    let leadName = leadData.get('leadName')
    let leadPhone = leadData.get('leadPhone')

    // Над сущностью Message еще надо подумать...
    let message = new Message('Заявка с сайта')
    console.log(message)

    // Формируем лида
    let hpFormLead = new Lead(hpFormLeadSourse, { leadName, leadPhone }, message)

    // Отравляем сообщение на Почту...
    // Static or not static... вот в чем вопрос...!!!
    Lead.sendLeadToMail(hpFormLead)

    // hpFormLead.sendLeadToTelegram()
  })
</script>

<form id="hp-hero-form" name="hpHeroForm">
  <input type="text" placeholder="Ваше имя" name="leadName" required />
  <input type="text" placeholder="Ваш телефон" name="leadPhone" required />

  <div style="font-size: 0.7rem;">
    <input type="checkbox" placeholder="Даю согласие на обработку" name="formConsent" checked required />
    Даю согласие на обработку <a href="/ru/law-info/personal-data-processing-policy" target="_blank">
      персональных данных
    </a>
  </div>

  <button type="submit">ЗАПРОСИТЬ ЦЕНУ</button>
</form>
<FormResultMSG />

<style>
  input[type='text'] {
    appearance: none;
  }

  input[type='checkbox'] {
    appearance: none;
  }
</style>
