---
export const prerender = false

import { actions } from 'astro:actions'

const result = Astro.getActionResult(actions.lead.create)
if (result && !result.error) {
  console.log(result?.data)
} else {
  console.error(result?.error)
}
---

{result?.error && <p class="error">Action error</p>}

<form id="hp-hero-form" name="hpHeroForm" method="post" action={actions.lead.create}>
  <input type="text" placeholder="Ваше имя" name="leadName" required={true} />
  <input type="text" placeholder="Ваш телефон" name="leadPhone" required />

  <div>
    <input type="checkbox" placeholder="Даю согласие на обработку" name="formConsent" required />
    {' Даю согласие на обработку '}
    <a href="/ru/law-info/personal-data-processing-policy" target="_blank">
      {'персональных данных'}
    </a>
  </div>

  <button>Узнать цену</button>
</form>
